APScheduler==3.6.3
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
decorator==5.1.1
environs==14.1.0
idna==3.10
marshmallow==3.25.1
packaging==24.2
pycparser==2.22
pyTelegramBotAPI==4.26.0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
schedule==1.2.2
setuptools==75.6.0
six==1.17.0
tornado==6.4.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
